# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# User Define
*.bwt
*.chr
*.csv
*.fa
*.fastq
*.fna
*.fq
*.gtf
*.occ
*.pdf
*.png
*.sam
*.seq
*.sfa
*.soft
*.tsv
*.txt
index
align
profile
variant
tools
exp/validate/problem
exp/validate/judge
exp/simulate/GRCh_clean
exp/simulate/problem
exp/simulate/judge

# Keep
!requirements.txt